
/* Your CSS Code here. */
.items{
	background:black;
	color:white;
	width:100px;
	height:100px;
	font-size:90px;
	text-align:center;
}
.holder{
	display:flex;
	justify-content: space-evenly;
	flex-wrap:wrap;
}